<h3>SIGN UP:</h3>
<form class="form signup-form">
  <div class="input-field">
    <input id="username-signup" type="text">
    <label for="username-signup">Username</label>
  </div>
  <div class="input-field">
    <input id="email-signup" type="email">
    <label for="email-signup">Email</label>
  </div>
  <div class="input-field">
    <input id="password-signup" type="password">
    <label for="password-signup">Password</label>
  </div>
    <button type="submit">Sign Up</button>
</form>

<script src="./js/signup.js"></script>